
# General
# -------
local/

# python
# ------
*.pyc

# VSCode
# ------
# Some inspiration from:
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

.vs/*
.vscode/*
.mypy_cache/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

