
# General
# -------
local/

# python
# ------
*.pyc

# VSCode
# ------
# Some inspiration from:
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

.vs/*
.vscode/*
!.vscode/settings_template.jsonc
!.vscode/settings_template.json
!.vscode/tasks.json
!.vscode/launch_template.jsonc
!.vscode/launch_template.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# GEE (google earth engine)
# -------------------------
client_secret.json
client_secret_download-gee-data.json
credentials.json
