client_secret.json
client_secret_download-gee-data.json
credentials.json
Old/
*.pyc
.spyproject/
.spyproject/workspace.ini
.vscode/
/.vs
client_secret_download-gee-data.json
.vscode/settings.json
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
