ci:
    autofix_prs: false
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff-format
      - id: ruff
        args: [ --fix ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        additional_dependencies: [pandas-stubs<2.3, types-python-dateutil, types-requests]