name: cropclass-dev
channels:
  - conda-forge
dependencies:
  - python =3.12
  - pip
  # required
  - dask-core
  - exactextract
  - geofileops
  - geopandas-base >=0.11
  - h5py
  - numexpr
  - numpy #<2
  - openeo
  - pandas
  - psutil
  - pyproj
  - rasterio
  - rasterstats
  - rioxarray
  - scikit-learn
  - xlsxwriter
  # Optional
  - qgis
  # testing
  - pytest
  - pytest-cov
  # linting
  - mypy ==1.15.0
  - pandas-stubs
  - pre-commit
  - ruff ==0.9.7
  - types-python-dateutil
  - types-requests
  - types-tqdm
  - scipy
  - pip:
    - pystac_client
    # Loading the classification model gives an error with 2.12?
    - tensorflow
    # linting
    - scipy-stubs