name: cropclass-dev
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  # required
  - fiona
  - geofileops
  - geopandas>=0.11
  - h5py
  - numpy<2
  # Openeo >=0.14 +- doesn't work on windows.
  # More info here: https://github.com/Open-EO/openeo-python-client/issues/387
  - openeo
  - pandas
  - psutil
  - pyproj
  - scikit-learn
  - rasterio
  - rasterstats
  - rioxarray
  # Optional
  - qgis
  # testing
  - pytest
  - pytest-cov
  # linting
  - mypy
  - pandas-stubs
  - pre-commit
  - ruff==0.4.4
  - types-python-dateutil
  - types-requests
  - scipy
  - pip:
    # Loading the classification model gives an error with 2.12?
    - tensorflow <2.12
    - exactextract==0.2.0.dev252
